#exportPattern("^[[:alpha:]]+")
useDynLib(ItoGaussPlot)
import(mathjaxr)
import(Rcpp)
export("OUanalytic")
export("stdWindowSlopeCast")
export("stdWindowSlopeUniform")
export("timesTwo")
export("muRcpp")
export("varRcpp")
export("slope")
export("varSlope")
